<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BMI Calculator</title>
    <link rel="stylesheet" href="../static/styles.css">
    <script src="https://kit.fontawesome.com/81dbef326d.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="outer-container">
	<div class="header-bar">

    <nav class="nav">
    
      <div class="logo">
       <svg width="200" height="100" >
       <image width="80%" height="80%"  xlink:href="../static/logo.png"></image>
       </svg>
      </div>


    <div class="nav-items">
        <ul>
          <li>
            {% if not current_user.is_authenticated %}
            <a href="{{ url_for('register') }}">
                Register
            </a>
            {% endif %}
           </li>
           <li>
            {% if not current_user.is_authenticated %}
            <a href="{{url_for('login') }}">Login</a>
            {% endif %}
           </li>
         <li>
          {% if current_user.is_authenticated %}
          <a href="/log">Log</a>
          {% endif %}
         </li>
         <li>
          {% if current_user.is_authenticated %}
          <a href="/dashboard">Dashboard</a>
          {% endif %}
         </li>
          <li>
            {% if current_user.is_authenticated and (user_id == 'admin@fitwell.com')%}
            <a href="/upload">Upload</a>
            {% endif %}
         </li> 
        <li>
          {% if current_user.is_authenticated %}
          <a href="/logout">Logout</a>
          {% endif %}
          </li>
        </ul>
    </div>      

    </nav>
                    
    </div>

    <div class="container">
    <div class="sideBar">
      <i class="fas fa-user"></i>
      <div> <p class="theId"> My id is: {{user_id}} </p> </div>
      <div> <p> My gender is {{gender}}</p> </div> 
      <div> <p> My dob is {{dob}}</p> </div> 
      <div> <p> My weight is {{weight}}</p> </div> 
    </div>
    <div class="entireBox">
      <div class="item">
        <h1>Calorie log</h1>
        <div>Last severn Days Logs</div>
        <div id="chart-legend"></div>
        <div id="chart"></div>
    </div>
    
    </div>

  </div>
</div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="../static/dashbaord.js"></script>
</body>
</html>