<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BMI Calculator</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://kit.fontawesome.com/81dbef326d.js" crossorigin="anonymous"></script>
</head>
<body>

<div class="outer-container">
	<div class="header-bar">
        <nav class="nav">
    
       <div class="logo">
        <svg width="200" height="100" >
        <image width="80%" height="80%"  href="static/logo.png"></image>
        </svg>
       </div>

       <div class="nav-items">
        <ul>
          <li>
            {% if not current_user.is_authenticated %}
            <a href="{{ url_for('register') }}">
                Register
            </a>
            {% endif %}
           </li>
           <li>
            {% if not current_user.is_authenticated %}
            <a href="{{url_for('login') }}">Login</a>
            {% endif %}
           </li>
         <li>
          {% if current_user.is_authenticated %}
          <a href="/log">Log</a>
          {% endif %}
         </li>
         <li>
          {% if current_user.is_authenticated %}
          <a href="/dashboard">Dashboard</a>
          {% endif %}
         </li>
          <li>
            {% if current_user.is_authenticated and (user_id == 'admin@fitwell.com')%}
            <a href="/upload">Upload</a>
            {% endif %}
         </li> 
        <li>
          {% if current_user.is_authenticated %}
          <a href="/logout">Logout</a>
          {% endif %}
          </li>
        </ul>
       </div>

      </nav>
                    
    </div>

    <div class="container">

      <div class="item">
        <div class="tabs">
            <a class="tab active" href="/login">Login</a>
            <a class="tab" href="/register">Register</a>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
        {% endwith %}
        <form action="/login" method="post">
            <div><label for="email">Enter your email: </label></div>
            <div><input type="email" name="email" id="email" required> </div>
            <div><label for="email">Enter your password: </label></div>
            <div><input type="password" name="password" id="password" required> </div>
            <div><input type="submit" value="LOGIN"/></div>
        </form>
    </div>
      
  </div>
</div>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="js.js"></script>
</body>
</html>