
{% extends "base.html" %}

{% block content %}

<div>
    <h3 class="title">Login</h3>
    <div>

        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="notification is-danger">
            <!-- Display warning messages if user login name or password is wrong -->
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}


        <form method="POST" action='/login'>
            <div>
                <input class="input" type="email" name="email" placeholder="Your Email" autofocus="">
            </div>
            <div>
                <input class="input" type="password" name="password" placeholder="Your Password">
            </div>

            <div>
                <!--create a checkbox for user to tick on 'Remember me'-->
                <label class="checkbox">
                    <input type="checkbox" name="remember">
                    Remember me
                </label>
            </div>

            <button class="button">Login</button>
        </form>
    </div>
</div>

{% endblock %}