<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI Chart</title>
</head>
<body>
    
    <div class="container">
        <h1> Average BMI Chart (by Backend)</h1>
        <!-- Create a div where the graph will take place -->
        <div>
            <canvas id="myChart" width="250" height="400"></canvas>
        </div>        
    </div>

    <!-- Load d3.js -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js">
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="static/myChart_CSV3.js"></script>
    <!-- <script src="static/myChart_jSON.js"></script> -->
    <!-- <script src="../static/custom.js"></script> -->

</body>
</html>